@{
    ViewData["Title"] = "Login";
    string date = DateTime.Now.ToString("yyyy-MM-dd");
}

@model ToDoList.Models.CardViewModel;

<div class="nav-bar">
    <div class="nav-logo">
        <a asp-action="Index"><img src="~/img/logo.png" /></a>
    </div>
    <div class="nav-link">
        <div class="info"><i class="fa-regular fa-user"></i>@Model.User.Name</div>
        <span class="info email"><i class="fa-regular fa-envelope"></i>@Model.User.Email</span>
        <a asp-action="Index"><i class="fa-solid fa-arrow-right-from-bracket fa-xl"></i></a>
    </div>
</div>

<form class="form-task space" asp-controller="Card" asp-action="Add">

    <input type="hidden" asp-for="@Model.User.Id"/>
    <input type="hidden" asp-for="@Model.User.Name"/>
    <input type="hidden" asp-for="@Model.User.Email"/>

    <input name="title"  class="title" placeholder="Title" />
    <textarea name="description" class="description" placeholder="Description"></textarea>
    <div class="utilities">
        <input type="date" name="date" id="date" onkeydown="return false" value="@date"/>
        <div>
            <a class="cancel">Cancel</a>
            <input type="submit" class="add" value="+" />
        </div>
    </div>
</form>
@foreach(var item in Model.Cards)
{
    <form class="form-task" >
        <div class="separet">
            <button class="btn" type="submit">
                <i class="fa-regular fa-circle fa-xl"></i>
                <i class="fa-regular fa-circle-check fa-xl"></i>
            </button>
            <span class="title task">@item.Title</span>
            @if (item.Date == DateTime.Now.Date)
            {
                <span class="date" style="background: white; color: green"><i class="fa-regular fa-calendar-days"></i> Today</span>
            }
            else if(item.Date == DateTime.Now.AddDays(1).Date)
            {
                <span class="date" style="background: white; color: #ffba62"><i class="fa-regular fa-calendar-days"></i> Tomorrow</span>
            }
            else if(item.Date < DateTime.Now.Date)
            {
                <span class="date" style="background: white; color: red"><i class="fa-regular fa-calendar-days"></i> @item.Date.ToString("dd/MM/yy")</span>
            }
            else
            {
                <span class="date" style="background: white; color: silver"><i class="fa-regular fa-calendar-days"></i> @item.Date.ToString("dd/MM/yy")</span>
            }
        </div>
           
        @if(item.Description != null)
        {
           <span class="description" style="">@item?.Description</span>
        }


    </form>
}




